<div class="position-relative">
  <div class="container p-4 py-5 p-lg-5">
    <img
      src="assets/images/Decore (2).svg"
      alt="Decorative graphic element"
      class="decorative-image"
    />
    <app-news-header
      [categoryData]="categoryData"
      (filterClickEvent)="filterByCategory($event)"
    ></app-news-header>
    <div class="row">
      @for (new of displayedNews; track new.id) {
      <div class="col-12 col-md-6 col-lg-4 pb-5">
        <app-news-card-component [newsItem]="new"></app-news-card-component>
      </div>
      } @empty { @if (!isLoading&& !isError) { } } @if(!showAll){
      <div class="d-flex justify-content-center align-items-center">
        <app-custom-button
          (ButtonClickedEvent)="showAllNews()"
        ></app-custom-button>
      </div>
      }
    </div>
  </div>
</div>
