<div class="news-card">
    <!-- News Image -->
    <img [src]="newsItem?.urlToImage || 'assets/images/News-Placeholder.png'" (error)="onImageError($event)"
        alt="News Image" class="news-card__image">
    <!-- News Card Content -->
    <div class="news-card__content">
        <h3 class="news-card__title mx-0 px-0">
            {{newsItem?.title}}</h3>
        <!-- News Card Footer -->
        <div class="news-card__footer ">
            <!-- News Card Published Date -->
            <div class="news-card__date">
                <svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M7.1284 9.53254H5.03956V11.6059H7.1284V9.53254ZM11.3061 9.53254H9.21724V11.6059H11.3061V9.53254ZM15.4838 9.53254H13.3949V11.6059H15.4838V9.53254ZM17.5726 2.27595H16.5282V0.202637H14.4393V2.27595H6.08398V0.202637H3.99514V2.27595H2.95072C1.79141 2.27595 0.872322 3.20894 0.872322 4.34926L0.861877 18.8625C0.861877 20.0028 1.79141 20.9358 2.95072 20.9358H17.5726C18.7215 20.9358 19.6614 20.0028 19.6614 18.8625V4.34926C19.6614 3.20894 18.7215 2.27595 17.5726 2.27595ZM17.5726 18.8625H2.95072V7.45923H17.5726V18.8625Z"
                        fill="#13BEFF" />
                </svg>
                <span>{{ newsItem.publishedDate | date: 'EEE dd MMM yyyy' }}</span>
            </div>
            <!-- News Card Category -->
            <div class="news-card__category">
                <span class="badge inactive">{{newsItem?.categoryName}}</span>
                <div class="d-flex align-items-center gap-3">
                    <img class="news-card_icons" src="assets/icons/ic_favorite_border_24px.svg" alt="Favorite Icon">
                    <img class="news-card_icons" src="assets/icons/ic_share_24px.svg" alt="Share Icon">


                </div>
            </div>
        </div>
    </div>
    <div>
    </div>
</div>