
// Primary colors
$primary-color: #181E4B;
$secondary-color: #F215B6;
$accent-color: #FF7C16;

// Neutral colors
$white-color: #FFFFFF;
$black-color: #080809;
$dark-gray-color: #5E6282;
$light-gray-color:#686D77;
$badge-inactive-bg-color: rgba(116, 116, 116, 0.2); 
$badge-active-bg-color: #0ECEFF;


// Other colors
$success-color: #28a745;
$warning-color: #ffc107;
$error-color: #dc3545;
$badge-text-color:#0F526E