
// Font Sizes
$font-size-xs: 0.75rem;   // 12px / 16px
$font-size-sm: 0.875rem;  // 14px / 16px
$font-size-md: 1rem;      // 16px / 16px
$font-size-base: 1.125rem; // 18px / 16px
$font-size-lg: 1.25rem;   // 20px / 16px
$font-size-xl: 1.5rem;    // 24px / 16px
$font-size-xxl: 4.6875rem; // 75px / 16px

// Font Weights
$font-weight-light: 300;  // Light weight text
$font-weight-regular: 400;  // Regular weight text
$font-weight-medium: 500;  // Medium weight text
$font-weight-bold: 600;  // Bold weight text
$font-weight-extra-bold: 700;  //Extra Bold weight text
