
// Font Sizes
$font-size-xs: 12px;  
$font-size-sm: 14px;  
$font-size-md: 16px;  
$font-size-base: 18px;
$font-size-lg: 20px;  
$font-size-xl: 24px;  
$font-size-xxl: 75px;  

// Font Weights
$font-weight-light: 300;  // Light weight text
$font-weight-regular: 400;  // Regular weight text
$font-weight-medium: 500;  // Medium weight text
$font-weight-bold: 600;  // Bold weight text
$font-weight-extra-bold: 700;  //Extra Bold weight text