<footer>
  <div class="footer__body py-5 w-100 container flex-column flex-lg-row">
    <div>
      <img src="assets/images/Logo.png" alt="Logo" class="me-auto" />
      <p class="footer__description text-wrap mt-3">
        We make technology produce productive, adaptable and sustainable
        business experiences.
      </p>
    </div>
    <div class="row m-0 p-0">
      <div class="col-12 col-md-4" *ngFor="let item of footerItems">
        <app-footer-item [footerItem]="item"></app-footer-item>
      </div>
    </div>
    <!-- Discover our app -->
    <div class="footer__app-downloads">
      <div class="d-flex gap-4 align-items-center">
        <app-social-media-badge *ngFor="let item of socialMediaItems" [socialMediaItem]="item"></app-social-media-badge>
      </div>
      <h3 class="p-0 mx-0">Discover our app</h3>
      <div class="d-flex gap-2" style="margin-top: 1rem">
        <img src="assets/images/Google Play.svg" alt="" />
        <img src="assets/images/Play Store.svg" alt="" />
      </div>
    </div>
  </div>
  <p class="text-center mb-5">All rights reserved&#64;Linkdevelopment.com</p>
</footer>