<div class="w-100 navbar__body container  ">
    <img src="assets/images/Logo.png" alt="Logo" class="navbar__logo me-auto">
  
    <div class="d-flex justify-content-center ms-5">
      <div class="navbar__items">
        <a href="#" class="navbar__item">Home</a>
        <a href="#" class="navbar__item">About</a>
        <a href="#" class="navbar__item">Contact</a>
        <a href="#" class="navbar__item">More</a>
      </div>
    </div>
  
    <div class="navbar__actions ms-auto d-flex align-items-center">
      <a class="navbar__item">Login</a>
      <button class="btn">Sign Up</button>
      <a class="navbar__item">En</a>
    </div>
  </div>
  