.things-we-do__items {
    display: flex;
    align-items: center;
    padding-left: 3rem;


}

img {
    height: 15.625rem;
    width: 15.625rem;

}

@media screen and (max-width: 992px) {
    .things-we-do__item {
        svg {
            width: 200px;
            height: 200px;
        }
    }
}

@media screen and (max-width: 672px) {
    .things-we-do__item {
        svg {
            width: 150px;
            height: 150px;
        }
    }
}

@media screen and (max-width: 512px) {
    .things-we-do__item {
        svg {
            width: 100px;
            height: 100px;
        }
    }
}