<div class="things-we-do__items">
  <!-- First Col -->
  <div>
    <article class="things-we-do__item" style="margin-top: 10rem;">
      <img [src]="'assets/images/' + ThingsWeDoImagesName[0]" [alt]="ThingsWeDoImagesName[0]" />
    </article>
  </div>

  <!-- Second Col -->
  <div style="margin-top: 10rem;">
    <article class="things-we-do__item">
      <img [src]="'assets/images/' + ThingsWeDoImagesName[1]" [alt]="ThingsWeDoImagesName[1]" />
    </article>
    <article class="things-we-do__item">
      <img [src]="'assets/images/' + ThingsWeDoImagesName[2]" [alt]="ThingsWeDoImagesName[2]" />
    </article>
  </div>

  <!-- Third Col -->
  <div>
    <article class="things-we-do__item">
      <img [src]="'assets/images/' + ThingsWeDoImagesName[3]" [alt]="ThingsWeDoImagesName[3]" />
    </article>
    <article class="things-we-do__item">
      <img [src]="'assets/images/' + ThingsWeDoImagesName[4]" [alt]="ThingsWeDoImagesName[4]" />
    </article>
  </div>
</div>