@import "../../../../../../styles/global-styles";
.things-we-do {
  background-color: #efefef;
  width: 100%;
  padding-top: 6.875rem;
  padding-bottom: 6.875rem;
  position: relative;
}
.things-we-do__header-container {
  display: flex;
  justify-content: end;
  background-color: var(--theme-color);
  height: 100%;
  padding-top: 5.063rem;
  padding-bottom: 5.063rem;
  max-width: 950px;
}
.things-we-do__title {
  font-family: "Poppins", sans-serif !important;
  font-size: 55px;
  line-height: 80px;
  text-align: right;

  color: #253776;
}

.things-we-do__description {
  color: #ffff;
  font-size: 1.5rem;
  line-height: 38.13px;
  font-weight: $font-weight-regular !important;
  margin-top: 2.5rem;
  text-align: end;
}
.things-we-do__header {
  display: flex;
  justify-content: center;
  align-items: end;
  flex-direction: column;
}
.things-we-do__items {
  position: absolute;
  top: 0;
  right: 700px;
}

.things-we-do__image {
  position: absolute;
  left: 0;
  top: 7%;
}

@media screen and (max-width: 1400px) {

  .things-we-do {
    height: 1250px;
  }

  .things-we-do__items {
    position: absolute;
    top: 480px;
    right: unset;
    left: 0%;
  }
}

@media screen and (max-width: 977px) {
    .things-we-do__header-container {
        max-width: auto;
      }
}



@media screen and (max-width: 800px) {

    .things-we-do__items {
      top: 650px;
    }
}

@media screen and (max-width: 672px) {
    .things-we-do__item {
        svg {
            width: 150px;
            height: 150px;
        }
    }
}

@media screen and (max-width: 512px) {
    .things-we-do__item {
        svg {
            width: 100px;
            height: 100px;
        }
    }
}