<section class="things-we-do">
    <img class="things-we-do__image" src="assets/images/Things _We Do (1).svg" alt="">
    <!-- Container around the header -->
     <div class="d-flex justify-content-end">
        <div class="things-we-do__header-container">
            <header class="things-we-do__header pe-5">
              <h2 class="things-we-do__title header-main  col-9"> We Deliver <br>
                  Digital Productivity</h2>
              <p class="things-we-do__description col-8 "> We craft technology solutions that digitally bond and transform the productivity of our customers and their citizens, workers, consumers and partners. </p>
            </header>
          </div>
          <app-things-we-do-items class="things-we-do__items"></app-things-we-do-items>

     </div>

  </section>
  