@import '../../../../styles/typography';
@import '../../../../styles/colors';

img {

    height: 18.75rem;
}

.no-news-message {
    font-size: $font-size-lg;

    color: $dark-gray-color
}

@media (max-width: 768px) {
    img {

        height: 16.75rem;
    }
}