@import '../src/styles/colors.scss';
@import '../src/styles/global-styles.scss';
@import '../src/styles/typography';
:root {
      --theme-color:#{$secondary-color};
}
body{
      font-family: "Poppins", sans-serif;
      background-color: $white-color;
  overflow-x: hidden;
}
html {
  font-size: 16px; 
}

@media (max-width: 1200px) {
  html {
    font-size: 15px; 
  }
}

@media (max-width: 992px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 13px; 
  }
}

@media (max-width: 576px) {
  html {
    font-size: 12px; 
  }
}

